html, body{
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:#fff;
}

#textarea {
  background-color:rgb(41,62,80);
  /* cursor: text; */
}
.sidebar{
  float:left;
}
.wrapper{
  float: left;
}