html, body{
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:#fff;
}

#textarea {
  background-color:#fff;
  /* cursor: text; */
}
.sidebar{
  float:left;
}
.wrapper{
  float: left;
}

#psuedoScroll{
  height:4000px;
}

#container{
  height:5000px;
  overflow:scroll;
}