/* line 1, ../src/vegas.scss */
html body * {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 9, ../src/vegas.scss */
.application {
  width: 100% !important;
}

/* line 14, ../src/vegas.scss */
.region {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* line 20, ../src/vegas.scss */
.region-top, .region-bottom {
  height: 50%;
}

/* line 24, ../src/vegas.scss */
.region-left, .region-right {
  width: 50%;
}

/* line 28, ../src/vegas.scss */
.region.region-container {
  overflow: visible !important;
}

/* line 32, ../src/vegas.scss */
a {
  cursor: pointer;
  outline: none;
}

/* line 37, ../src/vegas.scss */
button {
  border: 1px outset buttonshadow;
  background-color: buttonface;
  background-repeat: no-repeat;
  background-position: 4px 50%;
}

/* line 44, ../src/vegas.scss */
button.maximize {
  background-image: url("../images/maximize.gif");
}

/* line 48, ../src/vegas.scss */
button.restore {
  background-image: url("../images/restore.gif");
}

/* line 52, ../src/vegas.scss */
button.splith {
  background-image: url("../images/splith.gif");
}

/* line 56, ../src/vegas.scss */
button.splitv {
  background-image: url("../images/splitv.gif");
}

/* line 60, ../src/vegas.scss */
body a:active {
  outline: 1px dashed #01BF00;
}

/* line 64, ../src/vegas.scss */
a:focus {
  outline: 1px dashed #225F17;
}

/* line 72, ../src/vegas.scss */
body {
  overflow: hidden;
  height: 305px;
  font-family: Monaco,'Courier New',monospace;
  font-size: 11px;
  color: WindowText;
  padding: 0;
  margin: 0;
}

/* line 82, ../src/vegas.scss */
.region.Filesystem, region-left {
  top: 0;
  left: 0;
  height: 358px;
  width: 225px;
  border-right: 0;
  border-bottom: 0;
}

/* line 91, ../src/vegas.scss */
.region.region-primary {
  height: 357px;
  left: 224px;
  top: 0;
  width: 1213px;
}

/* line 98, ../src/vegas.scss */
.region {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  outline: 1px solid buttonshadow;
}

/* line 106, ../src/vegas.scss */
.components {
  background-color: #00FF00;
  float: left;
  height: 95%;
  width: 100%;
}

/* line 113, ../src/vegas.scss */
.component {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* line 119, ../src/vegas.scss */
.component canvas {
  width: 100%;
  height: 100%;
}

/* line 124, ../src/vegas.scss */
.component.active {
  display: block;
}

/* line 128, ../src/vegas.scss */
.tabs {
  height: 17px;
  width: 100%;
  overflow: hidden;
  float: left;
}

/* line 135, ../src/vegas.scss */
.tab.active {
  background-color: ButtonHighlight;
  border-bottom: medium none;
  font-weight: 700;
  opacity: 1;
}

/* line 142, ../src/vegas.scss */
.tab.spacer {
  height: 17px;
  visibility: hidden;
}

/* line 147, ../src/vegas.scss */
.tab {
  background-color: ButtonFace;
  border-right: 1px solid ThreeDShadow;
  float: left;
  line-height: 17px;
  opacity: 0.75;
  position: relative;
  padding: 0 15px;
}

/* line 157, ../src/vegas.scss */
.tab span.title {
  left: -5px;
  top: 0px;
  position: relative;
}

/* line 163, ../src/vegas.scss */
.tab .close {
  background-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAAAAAP///yH5BAEKAAEALAAAAAAFAAUAAAIHRG55YciPCgA7);
  background-position: 2px 2px;
  background-repeat: no-repeat;
  height: 5px;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 5px;
  padding: 2px;
}

/* line 175, ../src/vegas.scss */
.close:active {
  outline: 1px solid #6F6F6F;
}

/* line 179, ../src/vegas.scss */
.faux-scroll-container {
  height: 208px;
  left: -3px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

/* line 188, ../src/vegas.scss */
.faux-scroll {
  height: 1024px;
  width: 100%;
}

/* line 193, ../src/vegas.scss */
.cursor-grip * {
  cursor: url(/src/assets/images/resize-vertical.cur) 7 0, pointer;
}

/* line 196, ../src/vegas.scss */
.cursor-default * {
  cursor: default;
}

/* line 200, ../src/vegas.scss */
.unmaximized {
  position: static;
  z-index: 1;
}

/* line 205, ../src/vegas.scss */
.maximized {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
}

/* line 212, ../src/vegas.scss */
.edge-right-grip, .edge-left-grip {
  cursor: url(/src/assets/images/resize-vertical.cur) 7 0, pointer;
  background-color: threedhighlight;
  border-left: 1px solid threedface;
  border-right: 1px solid threedshadow;
  height: 999px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  z-index: 200;
}

/* line 226, ../src/vegas.scss */
.region .regionPane .buttons {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* line 232, ../src/vegas.scss */
.region .regionPane button {
  /*  background-color: buttonface;*/
  display: block;
  float: left;
  height: 13px;
  margin-left: 2px;
  padding: 0;
  width: 17px;
}

/* line 242, ../src/vegas.scss */
.regionPane {
  background-repeat: repeat-x;
  background-position: 0 16px;
  background-color: WindowFrame;
  width: 100%;
  height: 17px;
}

/* line 250, ../src/vegas.scss */
buttons {
  float: left;
}

/* line 254, ../src/vegas.scss */
.edge-bottom-grip, .edge-bottom-grip {
  cursor: url(/src/assets/images/resize-horizontal.cur) 7 0, pointer;
  background-color: threedhighlight;
  border-bottom: 1px solid threedface;
  border-top: 1px solid threedshadow;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 9999px;
  z-index: 200;
}

/* line 268, ../src/vegas.scss */
.edge-bottom {
  border-bottom: 1px solid ThreeDShadow;
}

/* line 272, ../src/vegas.scss */
.edge-top {
  border-top: 1px solid ThreeDShadow;
}

/* line 276, ../src/vegas.scss */
.document {
  background: black url(http://www.visitlasvegas.com/images/homepage/lights_background.jpg) no-repeat;
  color: #fff;
  overflow: scroll;
}

/* line 282, ../src/vegas.scss */
.document h2 {
  text-align: center;
}

/* line 285, ../src/vegas.scss */
.document a {
  color: #fff;
}

/* line 288, ../src/vegas.scss */
.document em.script {
  font-family: "Monotype Corsiva", "Lucida Handwriting", cursive;
}

/* line 292, ../src/vegas.scss */
.document strong {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

/* line 297, ../src/vegas.scss */
.document ul.actions {
  background-color: #222222;
  border: 1px dashed #444444;
  margin: 0 auto;
  padding: 25px;
  width: 378px;
  list-style-position: inside;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 308, ../src/vegas.scss */
.document ul.actions li {
  padding: 5px;
  font-size: 14px;
}

/* line 313, ../src/vegas.scss */
.document abbr {
  font-weight: bold;
  color: yellow;
}

/* line 318, ../src/vegas.scss */
.chooser abbr {
  font-weight: bold;
  color: yellow;
}

/* line 323, ../src/vegas.scss */
.chooser {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background-color: #000000;
  border-color: #444444 #444444;
  border-style: solid solid none;
  border-width: 2px 2px medium;
  bottom: 26px;
  color: #FFFFFF;
  font-size: 20px;
  height: 307px !important;
  left: 60px;
  opacity: 0.90;
  width: 1310px;
  z-index: 1000;
  position: absolute;
  display: none;
}

/* line 342, ../src/vegas.scss */
.chooser ul {
  float: left;
  list-style-type: none;
  border-right: 5px solid #666;
  list-style-position: inside;
  margin: 0 0 0 5px;
  padding: 0 10px 0 10px;
  height: 100%;
}

/* line 352, ../src/vegas.scss */
.chooser kbd a {
  color: #999;
  text-decoration: none;
}

/* line 357, ../src/vegas.scss */
.chooser kbd {
  font-family: Monaco,'Courier New',monospace;
  font-size: 11px;
  line-height: 20px;
  position: relative;
  top: -0.3em;
  color: #999;
}
